{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'images/bg.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body >
    <div class="container mx-auto px-6 py-12">
        <h2 class="text-3xl font-semibold text-white mb-6">Are you sure you want to delete "{{ book.title }}"?</h2>
        
        <form method="POST" class="bg-white p-6 rounded-lg shadow-md mb-6">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600">Yes, Delete</button>
            <div>
                <a href="{% url 'book_list' %}" class="text-blue-500 hover:underline">Cancel</a>

            </div>

        </form>

    </div>
</body>
</html>
